/obj
/bin
/.vs/HomeBridgePlugin/DesignTimeBuild
/.idea
/HomeBridgePlugin/obj
/HomeBridgeCommunication/obj
/HomeBridgeCommunication.Tests
/packages
/HomeBridgePlugin/bin
/HomeBridgeCommunication/bin
/.vs/HomeBridgePlugin/v16/TestStore/0/*.testlog
/.vs/HomeBridgePlugin/v16/TestStore/0/testlog.manifest
